PGDATABASE=
PGHOST=.oregon-postgres.render.com
PGPASSWORD=
PGPORT=
PGUSER=
PGSSL=true
CLIENT_URL=https://momentum-av8u.onrender.com/
NODE_ENV=production
ADMIN_USERNAME=momentum_admin
ADMIN_firstname=Momentum
ADMIN_lastname=Administrator
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=replace-with-a-long-random-password
JWT_SECRET=replace-with-a-long-random-secret